<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hello EJS H&F</title>
  </head>
</html>
<body>
  Embedded JS: <%= Math.random() %> <br />
  Param info: <%= contentParam1 %> <br />
  Param info: <%= anotherParam %> <br />
  Param info: <%= param3 %> <br />
  Param info: <%- param3 %> <br />
  <%- include('footer') -%>
</body>
